# Mainsail klipper definitions
#
# Copyright (C) 2021 Alex Zellner <alexander.zellner@googlemail.com>
#
# This file may be distributed under the terms of the GNU GPLv3 license
#
# Version 1.11

# add [include mainsail.cfg] to your printer.cfg to include it to your printer.cfg
# modify x_park, y_park, z_park_delta and extrude value at the macro _TOOLHEAD_PARK_PAUSE_CANCEL if needed

# use variable_park: False at CANCEL_PRINT to disallow the parking move

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode:
  CANCEL_PRINT

[pause_resume]

[display_status]

# This file provides examples of Klipper G-Code macros.  The snippets
# in this file may be copied into the main printer.cfg file and
# customized.

# See docs/Config_Reference.md for a description of parameters.


######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[gcode_macro START_PRINT]
variable_bed_temp: 60
variable_extruder_temp: 210
gcode:
    # Home the printer
    G28
    # Load bed leveled mesh
    #####BED_MESH_PROFILE LOAD=default
    BED_MESH_CALIBRATE        
    G92 E0 ; Reset Extruder
    # Start bed heating
    M140 S{ params.BED_TEMP }
    # Pre-heat extruder
    M104 S160
    # Use absolute coordinates
    G90
    # Move the nozzle near the bed
    G1 Z10 F3000
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Move the nozzle very close to the bed
    #G1 Z0.15 F300
    # Wait for bed to reach temperature
    M190 S{ params.BED_TEMP }
    # Set and wait for nozzle to reach temperature
    M109 S{ params.EXTRUDER_TEMP }
    # KAMP Adaptive Purge
    Line_Purge
    ## From Cura
    #G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    #G1 X0.1 Y20 Z0.3 F5000.0 ; Move to start position
    #G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
    #G1 X0.4 Y200.0 Z0.3 F5000.0 ; Move to side a little
    #G1 X0.4 Y20 Z0.3 F1500.0 E30 ; Draw the second line
    #G92 E0 ; Reset Extruder
    #G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    #G1 X5 Y20 Z0.3 F5000.0 ; Move over to prevent blob squish

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91 ; Relative positioning
    G1 E-5 F2700 ;Retract a bit
    G1 E-2 Z1 F2400 ;Retract and raise Z
    # Present print
    G90    
    G1 X15 Y225 f3000
    G91
    G1 X-5 Y5 F3000 ;Wipe out
    # Raise nozzle by 10mm
    G1 Z10 F3000
    # Disable steppers
    M84


[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  G91
  G1 E-10 F2700
  ## Move head and retract only if not already in the pause state and park set to true
  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}
  TURN_OFF_HEATERS
  M106 S0
  CANCEL_PRINT_BASE

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####
  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  RESUME_BASE {get_params}

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}

[gcode_macro LOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=load_state
    #M300 # beep
    G91
    G92 E0
    G1 E100 F{max_velocity} # fast-load
    G1 E100 F{max_velocity} # fast-load
    G1 E100 F{max_velocity} # fast-load
    G1 E100 F{max_velocity} # fast-load
    G1 E10 F{max_velocity} # fast-load
    G1 E5 F{speed} # purge
    #M300
    #M300
    RESTORE_GCODE_STATE NAME=load_state

[gcode_macro UNLOAD_FILAMENT]
gcode:
    {% set speed = params.SPEED|default(300) %}
    {% set max_velocity = printer.configfile.settings['extruder'].max_extrude_only_velocity %}
    SAVE_GCODE_STATE NAME=unload_state
    G91
    #M300 # beep
    G92 E0
    #G1 E10 F{speed} # purge
    G1 E-100 F{max_velocity} # fast-unload
    G1 E-100 F{max_velocity} # fast-unload
    G1 E-100 F{max_velocity} # fast-unload
    G1 E-100 F{max_velocity} # fast-unload
    G1 E-20 F{max_velocity} # fast-unload
    #M300
    #M300
    RESTORE_GCODE_STATE NAME=unload_state

[gcode_macro M0]
gcode:
    PAUSE
    

######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

[pause_resume]

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-100 F1000
    G1 E-100 F1000
    G1 E-100 F1000
    G1 E-100 F1000
    G1 E-20 F1000
    RESTORE_GCODE_STATE NAME=M600_state
