[gcode_macro G29]
gcode:
 BED_MESH_CALIBRATE
 G1 X151 Y115 Z5 F15000

######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

# Slicer start gcode:
# START_PRINT BED_TEMP={bed_temperature_initial_layer[current_extruder]} EXTRUDER_TEMP={nozzle_temperature_initial_layer[current_extruder]}

# Slicer end gcode:
# END_PRINT

[gcode_macro START_PRINT]
variable_bed_temp: 60
variable_extruder_temp: 210
gcode:
    # Home the printer
    G28
    # Load bed leveled mesh
    #####BED_MESH_PROFILE LOAD=default
    BED_MESH_CALIBRATE        
    G92 E0 ; Reset Extruder
    # Start bed heating
    M140 S{ params.BED_TEMP }
    # Pre-heat extruder
    M104 S160
    # Use absolute coordinates
    G90
    # Move the nozzle near the bed
    G1 Z10 F3000
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Move the nozzle very close to the bed
    #G1 Z0.15 F300
    # Wait for bed to reach temperature
    M190 S{ params.BED_TEMP }
    # Set and wait for nozzle to reach temperature
    M109 S{ params.EXTRUDER_TEMP }
    # Prime filament to nozzle
    #G1 E25 F2100
    # KAMP Adaptive Purge
    Line_Purge
    ## From Cura
    #G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    #G1 X0.1 Y20 Z0.3 F5000.0 ; Move to start position
    #G1 X0.1 Y200.0 Z0.3 F1500.0 E15 ; Draw the first line
    #G1 X0.4 Y200.0 Z0.3 F5000.0 ; Move to side a little
    #G1 X0.4 Y20 Z0.3 F1500.0 E30 ; Draw the second line
    #G92 E0 ; Reset Extruder
    #G1 Z2.0 F3000 ; Move Z Axis up little to prevent scratching of Heat Bed
    #G1 X5 Y20 Z0.3 F5000.0 ; Move over to prevent blob squish

[gcode_macro END_PRINT]
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Move nozzle away from print while retracting
    G91 ; Relative positioning
    G1 E-5 Z1 F2700 ;Retract a bit - added Z1 to this line and commented out next line
    #G1 E-45 Z1 F2400 ;Retract and raise Z
    # Present print
    G90    
    G1 X15 Y225 F3000
    G91
    G1 X-5 Y5 F3000 ;Wipe out
    # Raise nozzle by 10mm
    G1 Z10 F3000
    # Disable steppers
    M84

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
# change this if you need more or less extrusion
variable_extrude: 1.0 ;25.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  PAUSE_BASE
  G91
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G1 E-{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %} 

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    G91
    G1 E{E} F2100
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}  
  RESUME_BASE {get_params}

#[gcode_macro CANCEL_PRINT]
#description: Cancel the actual running print
#rename_existing: CANCEL_PRINT_BASE
#gcode:
#  TURN_OFF_HEATERS
#  CANCEL_PRINT_BASE

[gcode_macro LOAD_FILAMENT]
gcode:
 M83                   # Put the extruder into relative mode
 G92 E0.0              # Reset the extruder so that it thinks it is at position zero
 G1 E81 F350          # Move the extruder forward 120mm at a speed of 350mm/minute
 G92 E0.0              # Reset the extruder again
 M82                   # Put the extruder back into absolute mode.

[gcode_macro UNLOAD_FILAMENT]
gcode:
 M83                   # Put the extruder into relative mode
 G92 E0.0              # Reset the extruder so that it thinks it is at position zero
 G1 E-81 F350          # Move the extruder forward 120mm at a speed of 350mm/minute
 G92 E0.0              # Reset the extruder again
 M82                   # Put the extruder back into absolute mode.

######################################################################
## Filament Change ##
######################################################################
# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 130mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, simply resume the print.

# Trying to use T0-T4 as M600 macro (if more than 5 material colors, add more here)
[gcode_macro T0]
gcode:
  PAUSE
[gcode_macro T1]
gcode:
  PAUSE
[gcode_macro T2]
gcode:
  PAUSE
[gcode_macro T3]
gcode:
  PAUSE
[gcode_macro T4]
gcode:
  PAUSE

[gcode_macro M600_original]
########### Gcode ############
gcode:
  {% set X = params.X|default(printer.configfile.config["stepper_x"]["position_endstop"]|string)|int %}
  {% set Y = params.Y|default(printer.configfile.config["stepper_y"]["position_endstop"]|string)|int %}
  {% set Z = params.Z|default(10)|int %}
  {% set E = params.E|default(-20)|int %}
  {% set tool = params.tool|default(0)|int %}
  PAUSE
  G91
  G1 E-5 F4000
  G1 Z{Z}
  G90
  G1 X{X} Y{Y} F3000 ;park position
  G0 E10 F500 ;extrude filament to get better blob on end
  G0 E{E} F600 ;retract additional filament to move out of melt zone
  G0 E-85 F4000 ; retract to gears
  G92 E0

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro SWAP_RESUME]
gcode:
  {% set E = params.E|default(20)|int %}
  G0 E85 F4000
  G0 E{E} F500
  RESUME
  
# Original M600 gcode
#[gcode_macro M600]
#gcode:
#    {% set X = params.X|default(50)|float %}
#    {% set Y = params.Y|default(0)|float %}
#    {% set Z = params.Z|default(10)|float %}
#    SAVE_GCODE_STATE NAME=M600_state
#    SET_IDLE_TIMEOUT TIMEOUT=3600
#    PAUSE
#    G91
#    G1 E-.8 F2700
#    G1 Z{Z}
#    G90
#    G1 X{X} Y{Y} F3000
#    G91
#    G1 E-50 F1000
#    RESTORE_GCODE_STATE NAME=M600_state